[/]
animate-app-switch=true
animate-appicon-hover=true
animate-appicon-hover-animation-convexity={'RIPPLE': 2.0, 'PLANK': 1.0, 'SIMPLE': 0.0}
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
animate-appicon-hover-animation-rotation={'SIMPLE': 0, 'RIPPLE': 10, 'PLANK': 0}
animate-appicon-hover-animation-travel={'SIMPLE': 0.089999999999999997, 'RIPPLE': 0.40000000000000002, 'PLANK': 0.0}
animate-appicon-hover-animation-type='SIMPLE'
animate-appicon-hover-animation-zoom={'SIMPLE': 1.1100000000000001, 'RIPPLE': 1.25, 'PLANK': 2.0}
animate-window-launch=true
appicon-margin=8
appicon-padding=4
appicon-style='NORMAL'
context-menu-entries='[{"title":"Terminal","cmd":"TERMINALSETTINGS"},{"title":"System monitor","cmd":"gnome-system-monitor"},{"title":"Files","cmd":"nautilus"},{"title":"Extensions","cmd":"gnome-extensions-app"}]'
desktop-line-custom-color='rgb(119,118,123)'
desktop-line-use-custom-color=true
dot-position='BOTTOM'
dot-style-focused='DASHES'
dot-style-unfocused='SEGMENTED'
extension-version=9999
global-border-radius=0
group-apps=false
group-apps-label-font-size=15
group-apps-use-launchers=true
highlight-appicon-hover=true
hotkeys-overlay-combo='TEMPORARILY'
intellihide=false
leftbox-size=0
panel-anchors='{"CMN-0x00000000":"MIDDLE"}'
panel-element-positions='{"CMN-0x00000000":[{"element":"showAppsButton","visible":true,"position":"stackedTL"},{"element":"activitiesButton","visible":false,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"stackedTL"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":false,"position":"stackedBR"},{"element":"systemMenu","visible":false,"position":"stackedBR"},{"element":"desktopButton","visible":true,"position":"stackedBR"}]}'
panel-lengths='{"CMN-0x00000000":100}'
panel-positions='{}'
panel-sizes='{"CMN-0x00000000":48}'
prefs-opened=true
primary-monitor='CMN-0x00000000'
show-apps-icon-file=''
show-running-apps=true
show-showdesktop-delay=780
show-showdesktop-hover=true
show-showdesktop-time=130
showdesktop-button-width=40
stockgs-keep-dash=false
stockgs-keep-top-panel=true
taskbar-locked=false
trans-bg-color='#000000'
trans-gradient-bottom-color='#e66100'
trans-gradient-bottom-opacity=0.14999999999999999
trans-gradient-top-color='#241f31'
trans-gradient-top-opacity=0.050000000000000003
trans-panel-opacity=1.0
trans-use-custom-bg=true
trans-use-custom-gradient=true
trans-use-custom-opacity=true
trans-use-dynamic-opacity=false
tray-size=0
window-preview-title-position='TOP'
