[/]
animate-app-switch=true
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
animate-window-launch=true
appicon-style='NORMAL'
desktop-line-custom-color='rgb(192,97,203)'
desktop-line-use-custom-color=true
dot-position='BOTTOM'
dot-style-focused='DASHES'
dot-style-unfocused='SEGMENTED'
extension-version=9999
highlight-appicon-hover=true
hotkeys-overlay-combo='TEMPORARILY'
intellihide=false
leftbox-size=0
panel-anchors='{"CMN-0x00000000":"MIDDLE"}'
panel-element-positions='{"CMN-0x00000000":[{"element":"showAppsButton","visible":true,"position":"stackedTL"},{"element":"activitiesButton","visible":false,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"stackedTL"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":false,"position":"stackedBR"},{"element":"systemMenu","visible":false,"position":"stackedBR"},{"element":"desktopButton","visible":true,"position":"stackedBR"}]}'
panel-lengths='{"CMN-0x00000000":100}'
panel-positions='{}'
panel-sizes='{"CMN-0x00000000":32}'
prefs-opened=true
primary-monitor='CMN-0x00000000'
show-apps-icon-file=''
show-showdesktop-delay=780
show-showdesktop-hover=true
show-showdesktop-time=130
showdesktop-button-width=40
stockgs-keep-dash=false
stockgs-keep-top-panel=true
taskbar-locked=false
trans-bg-color='#f66151'
trans-gradient-bottom-color='#ffa348'
trans-gradient-bottom-opacity=0.20000000000000001
trans-gradient-top-color='#ffffff'
trans-gradient-top-opacity=0.14999999999999999
trans-panel-opacity=0.20000000000000001
trans-use-custom-bg=true
trans-use-custom-gradient=true
trans-use-custom-opacity=true
trans-use-dynamic-opacity=false
tray-size=16
window-preview-title-position='TOP'
